*{
    padding: 0;
    margin: 0;box-sizing: border-box;
}
.header{
width: 100%;    
height: 70px;
background-color: #297F87;
display:flex ;
align-items: center;
justify-content:center ;
}
.header img{
    height: 70px;
    width: 70px;
    margin: 10px;
}
