footer {
  background-color: rgb(58, 55, 55);
  list-style: none;
  color: white;
  height: 100%;
  padding: 10px;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: rgb(104, 94, 94);
}
.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 2px solid gray;
}
.about {
  width: 45%;
  display: flex;
  flex-direction: column;
}
.about p {
  color: rgb(104, 94, 94);
}
.categories {
  display: flex;
  flex-direction: column;
}
.quick_links {
  display: flex;
  flex-direction: column;
}
.contact {
  top: 0;
  display: flex;
  flex-direction: column;
}
.contact li {
  color: rgb(90, 88, 88);
}
.register {
  text-align: center;
  border-bottom: 2px solid gray;
  padding: 10px;
}
.register a {
  background-color: red;
  color: white;
  border-radius: 20px;
  padding: 10px;
  font-size: 20px;
  margin-bottom: 10px;
  border-bottom: 2px solid rgb(90, 88, 88);
}
.icons {
  display: flex;
  justify-content: center;
  border-bottom: 2px solid rgb(90, 88, 88);
}
.icons i {
  padding-top: 5px;
  margin: 10px;
}
.icons a {
  text-decoration: none;
}
.list-icon {
  flex-direction: row;
}
#face {
  /* background-color: rgb(8, 8, 65); */
  color: #3b5998;
  /* border: 1px solid white; */
}
#twi {
  /* background-color: skyblue; */
  color: skyblue;
}
#google {
  color: red;
}
#in {
  color: royalblue;
}
#ball {
  color: rgb(192, 55, 78);
}
.copyright {
  text-align: center;
  padding: 10px;
  background-color: rgba(19, 16, 16, 0.671);
  background: linear-gradient(gray);
}
